<div id="cart-page" class="r-block">
  <div class="r-cart-page">
    {{r-cart-steps step="cart"}}

    <div class="r-cart">

      <div class="ui grid">
        <div class="row">
          <div class="eleven wide column">
            {{r-cart-items items=items}}
          </div>

          <div class="five wide column r-totals">
            {{r-cart-totals totals=totals}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>