<div class="ui divided items">

  <!-- Item 1 Start -->
  <div class="item">
    <div class="ui small image">
      <img src="images/image.png">
    </div>
    <div class="content">
      <a class="header">Awesome Product Title</a>

      <div class="meta">
        <a>
          <div data-rating="3" class="ui star rating"><i class="icon active"></i><i class="icon active"></i><i
            class="icon active"></i><i class="icon"></i></div>
        </a>
        <a>Category</a>
      </div>
      <div class="description">
        A description which may flow for several lines and give context to the content.
      </div>
      <div class="extra">

        <div style="float: left;" class="ui left massive red label">$35,99</div>

        <div class="r-cart__remove" style="float: right; padding-top: 8px;">
          or <a href="">remove</a>
        </div>


        <div style="float: right" tabindex="0">
          <span class="r-cart__quantity">1</span>

          <div class="ui ignored ignored icon buttons">
            <div class="ui show button"><i class="plus icon"></i></div>
            <div class="ui hide button"><i class="minus icon"></i></div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- Item 1 End -->

  <!-- Item 2 Start -->
  <div class="item">
    <div class="ui small image">
      <img src="images/image.png">
    </div>
    <div class="content">
      <a class="header">Awesome Product Title</a>

      <div class="meta">
        <a>
          <div data-rating="3" class="ui star rating"><i class="icon active"></i><i class="icon active"></i><i
            class="icon active"></i><i class="icon"></i></div>
        </a>
        <a>Category</a>
      </div>
      <div class="description">
        A description which may flow for several lines and give context to the content.
      </div>
      <div class="extra">

        <div style="float: left;" class="ui left massive red label">$35,99</div>

        <div class="r-cart__remove" style="float: right; padding-top: 8px;">
          or <a href="">remove</a>
        </div>


        <div style="float: right" tabindex="0">
          <div style="float: right" tabindex="0">
            <span class="r-cart__quantity">1</span>

            <div class="ui ignored ignored icon buttons">
              <div class="ui show button"><i class="plus icon"></i></div>
              <div class="ui hide button"><i class="minus icon"></i></div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- Item 2 End -->

  <!-- Item 3 Start -->
  <div class="item">
    <div class="ui small image">
      <img src="images/image.png">
    </div>
    <div class="content">
      <a class="header">Awesome Product Title</a>

      <div class="meta">
        <a>
          <div data-rating="3" class="ui star rating"><i class="icon active"></i><i class="icon active"></i><i
            class="icon active"></i><i class="icon"></i></div>
        </a>
        <a>Category</a>
      </div>
      <div class="description">
        A description which may flow for several lines and give context to the content.
      </div>
      <div class="extra">

        <div style="float: left;" class="ui left massive red label">$35,99</div>

        <div class="r-cart__remove" style="float: right; padding-top: 8px;">
          or <a href="">remove</a>
        </div>


        <div style="float: right" tabindex="0">
          <div style="float: right" tabindex="0">
            <span class="r-cart__quantity">1</span>

            <div class="ui ignored ignored icon buttons">
              <div class="ui show button"><i class="plus icon"></i></div>
              <div class="ui hide button"><i class="minus icon"></i></div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- Item 3 End -->

</div>