<div id="cart-page" class="r-block">
  <div class="r-cart-page">
    {{e-cart-steps step="confirmation"}}

    <div class="r-confirmation">

      <div class="ui grid">
        <div class="row">
          <div class="twelve wide column">
            <h2>Order Information</h2>


          </div>
        </div>
        <div class="row">
          <div class="twelve wide column">
            <h2>Payment Information</h2>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>