<div id="list-page" class="r-block">
  {{#e-grid}}
    <div class="ui four column grid">
      {{#each model as |product i|}}
        {{e-grid-item item=product i=i addToCart="addToCart"}}
      {{/each}}
    </div>
  {{/e-grid}}
</div>
