<div id="list-page" class="r-block">
  {{#r-grid}}
    <div class="ui four column grid">
      {{#each model as |product i|}}
        {{r-grid-item item=product i=i addToCart="addToCart" holdingCart=holdingCart}}
      {{/each}}
    </div>
  {{/r-grid}}
</div>
