<div class="ui top attached header">
  Your order qualifies for <b>FREE Shipping</b> Choose this option at checkout.
</div>

<div class="ui tertiary attached segment">
  <div class="r-totals__subtotal">
    <span class="r-totals__label">Subtotal (2 items):</span> <span class="r-totals__price">$103.74</span>
  </div>

  <div class="fluid ui right labeled icon green button">
    {{#link-to "checkout" class="r-totals__checkout"}}
    <i class="right arrow icon"></i>
    Proceed to checkout
    {{/link-to}}
  </div>
</div>
<div class="ui bottom attached header">Estimate your shipping and taxes</div>